@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap");
@import url("../fonts/mark_pro/style.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

main {
  display: block;
}

hr {
  margin: 1rem 0;
  color: #dee2e6;
  background-color: #dee2e6;
  border: 0;
  opacity: 0.25;
}

pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol, ul {
  padding-left: 0;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

li {
  list-style: none;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.875rem;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
}

legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

details {
  display: block;
}

template {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: 'Mark Pro Heavy', sans-serif;
  background-color: #161A1E;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 110px;
  z-index: 10000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header .logo {
  width: 73px;
  margin: auto 2rem auto 2.5rem;
  display: block;
}

.header .logo img {
  max-width: 100%;
}

.header nav {
  height: 100%;
  position: absolute;
  left: 160px;
}

.header nav ul {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

.header nav ul a {
  color: #fff;
  font-family: "Mark Pro Bold";
  font-size: 16px;
  text-transform: uppercase;
}

.header .event-menu {
  height: 100%;
}

.header .event-menu ul {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
}

.header .event-menu ul li {
  display: inline-block;
  margin-right: 2rem;
}

.header .event-menu ul a {
  color: #fff;
  font-family: "Mark Pro Bold";
  font-size: 16px;
  text-transform: uppercase;
}

.header .btn-lang {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 30px;
  background-image: url(../img/icon_lang.svg);
}

.header.scroll {
  height: 80px;
  background-color: #000;
}

.header.scroll .logo {
  width: 60px;
}

.footer {
  width: 100%;
  max-width: 2560px;
  height: 320px;
  background-image: url(../img/a_footer.png);
  background-size: 1920px;
  background-position: top center;
}

.hero-wrap {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 900px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #000;
}

.hero-wrap .hero-back {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  left: -50%;
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}

.hero-wrap .main-model {
  position: absolute;
  width: 448px;
  height: 1048px;
  background-image: url(../img/smoke_model.png);
  background-size: contain;
  left: calc(50% - 180px);
  top: 40px;
}

.hero-wrap .main-model.small {
  width: 300px;
  height: 702px;
  top: auto;
  bottom: -50px;
  left: calc(50% + 50px);
}

.hero-wrap .event-group {
  position: absolute;
  width: 378px;
  height: 448px;
  right: 120px;
  top: 240px;
  background-image: url(../img/type_b/hero_event.png);
  background-size: contain;
}

.hero-wrap .hero-swiper-container {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 320px;
  left: 100px;
  bottom: 160px;
  overflow: hidden;
}

.hero-wrap .hero-swiper-container .swiper-slide {
  width: 100%;
  height: 300px;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string {
  display: block;
  overflow: hidden;
  height: 64px;
  line-height: 0;
  position: relative;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string.string-category {
  height: 40px;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string .title-category-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string .title-category-wrap .title-category {
  background-color: #b7292B;
  width: auto;
  color: #fff;
  padding: 0 0.75rem 0 0.75rem;
  text-transform: uppercase;
  line-height: 1.6em;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string .title-category-wrap .title-category-2 {
  background-color: #fff;
  width: auto;
  color: #000;
  padding: 0 0.75rem 0 0.75rem;
  text-transform: uppercase;
  line-height: 1.6em;
}

.hero-wrap .hero-swiper-container .swiper-slide .title-string h2 {
  color: #fff;
  font-size: 72px;
  font-family: "Rajdhani";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.hero-wrap .hero-swiper-container .swiper-slide.swiper-slide-active .title-string h2 {
  -webkit-animation: heroText 4s;
          animation: heroText 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes heroText {
  0% {
    margin-top: 72px;
  }
  20% {
    margin-top: 0%;
  }
  90% {
    margin-top: 0%;
  }
  100% {
    margin-top: 72px;
  }
}

@keyframes heroText {
  0% {
    margin-top: 72px;
  }
  20% {
    margin-top: 0%;
  }
  90% {
    margin-top: 0%;
  }
  100% {
    margin-top: 72px;
  }
}

.hero-wrap .hero-swiper-container .swiper-pagination {
  text-align: left;
  bottom: 0px;
}

.hero-wrap .hero-swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 80px;
  height: 3px;
  border-radius: 0;
  background: #fff;
  margin: 0 2px;
}

.section-2 {
  width: 100%;
  min-height: 1000px;
}

.section-2 .section-title {
  width: 100%;
  margin: 6rem 0 2rem 0;
}

.section-2 .section-title .title-img {
  height: 40px;
}

.section-2 .section-title .btn-more {
  position: absolute;
  right: 2rem;
  border: none;
  background: transparent;
  color: #fff;
  line-height: 1.75em;
}

.section-2 .section-title .btn-more svg {
  margin-left: 0.25rem;
}

.section-2 .cards-wrap {
  width: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2 .cards-wrap .card {
  margin-right: 2rem;
}

.section-2 .cards-wrap .card img {
  width: 378px;
}

.section-3 {
  width: 100%;
  min-height: 1330px;
  background-color: #000;
  text-align: center;
}

.section-4 {
  width: 100%;
  background-color: #101316;
  text-align: center;
}

.inner-wrap {
  position: relative;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
}
